@inherits LayoutComponentBase

<div>
   <header>
       <nav class="navbar bg-dark">
           <div class="container-fluid">
               <a class="navbar-brand">Social Activities</a>
           </div>
       </nav>
   </header>
    <main class="container">
        @Body
    </main>
</div>
